:root {
  --primary: #EB5440;
  --secondary: #4A4B4C;
  --tertiary: #E8E8E8;
  --quaternary: #C3c3c3;
  --bg-1: #F6F6F6;
  --bg-2: #ffff;

  --text-primary:#000000;
  --text-secondary: #4A4B4C;
  --text-hyperlink: #037bc2;

  font-family: 'Montserrat', 'Open Sans';
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: var(--text-primary);
  background-color: var(--tertiary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  min-height: 100vh;
}  
p, input {
  font-family: 'Open Sans', sans-serif;
}
 h2, h3, h4, h5, h6, p{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin: 0;
}
h1, h2, h3, h4, h5, h6, button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

p, span {
  font-size: 18px;
  color: var(--text-secondary);
}
input {
  font-size: 14px;
}

h1 {
  font-size: 18px;
}
h2 {
  font-size: 14px;
}
h3 {
  font-size: 18px;
}
button{
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  p {
    font-size: 18px
  }
  input {
    font-size: 14px;
  }

  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  button{
    font-size: 18px;
  }
}
  

.contained-primary {
  border: none;
  background-color: var(--primary);
  color: var(--bg-2);
}
.contained-secondary {
  border: none;
  background-color: var(--secondary);
  color: var(--bg-2);
}
.outlined-primary {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}
.outlined-secondary {
  background-color: transparent;
  border: 1px solid var(--secondary);
  color: var(--secondary);
}
.primary-bg{
  background-color: var(--primary);
}
.secondary-bg {
  background-color: var(--secondary);
}
.tertiary-bg {
  background-color: var(--tertiary);
}

.main-text {
  color: var(--tertiary);
}
.subtitle-text {
  color: var(--text-secondary);

}
.greyed-text {
  color: var(--quaternary);
}
.primary-text {
  color: var(--primary);
}
.secondary-text {
  color: var(--secondary);
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  height: inherit;
  padding-left: 24px;
  padding-right: 24px;
}
.button {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  min-width: 64px;
  padding: 8px 24px;
  border-radius: 4px;
  text-transform: uppercase;
  transition: all 100ms ease-in-out;
}
.button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.button:active {
  opacity: 0.6;
}


